.sidebar {
    padding: 0.75 rem;
    background-color: var(--color-surface);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.75 rem;/
} 

.header {
    margin: 0;
}

.title {
    font-size: 1.125 rem;
    margin: 0;
    color: var(--color-text);
}

.newButton {
    width: 100%;
    padding: 0.5 rem;
    background-color: var(--color-primary);
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
}

